name: CI

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test-sprout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: apps/sprout/go.mod
          cache: true
          cache-dependency-path: apps/sprout/go.sum

      - name: Test
        run: go test ./...
        working-directory: apps/sprout
